body {
  background-color: rgb(180, 130, 20);
  color:rgb(237, 237, 237);
  font-family:  "Poppins", sans-serif;
  min-width: 300px;
  font-size: 18px;
  font-weight: 400px;
}

form {
  background-color: rgba(115, 93, 13, 0.7);
  padding: 0.6rem;
}

#title, #description {
  text-align: center;
}

hr {
  background-color: rgba(115, 93, 13, 1);
  border-color: rgba(115, 93, 13, 1);
}
.recommend-label {
  font-size: 20px;

}
.input-radio {
  display: inline-block;
}

.checkbox {
  display: inline-block;
}

label {
  display: flex;
  align-items: center;
}


/* STYLE INPUT TO LIKE, totally, be in the center, later, lolz */
